<a href="https://colab.research.google.com/github/salvadoreandradep/Programacion_III/blob/main/Colab_Computo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **COMPUTO 1 - SALVADOR ERNESTO ANDRADE PEÑA**

Tipo de datos

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

In [ ]:
nombre = "Luis Hernandez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

**Funciones de Usuario**


*   Convertir grados celcius a farenheit

In [ ]:
def convertir(c):
  return c*9/5 + 32

In [ ]:
c = float(input("Celcuis: " ))
print("F:", convertir(c))

Celcuis: 42
F: 107.6






*   Convertir grados Farenheit a celcius

In [ ]:
def convertir(f):
  return  (f-32)*5/9

In [ ]:
f = float(input("Farenheit: " ))
print("°C:", convertir(f))

Farenheit: 107.6
°C: 42.0



*   Convertir de Farenheit a Kelvin

In [ ]:
def convertir(f):
  return  (f-32)*5/9+273.15

In [ ]:
f = float(input("Farenheit: " ))
print("K:", convertir(f))

Farenheit: 5
K: 258.15



**Convertir de Celcuis a Kelvin**

In [ ]:
def convertir(c):
  return  c + 273.15

In [ ]:
c = float(input("Celcuis: " ))
print("K:", convertir(f))

Celcuis: 5
K: 278.15



*   **Calcular el sueldo mensual de un empleado**

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

FUNCIONES LAMBDA



*   FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data=[2,5,6,8,9]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[2, 6, 8]

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

[5, 9]

TUPLAS

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

Listas

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

CiCLOS


*   FOR

In [ ]:
for item in data:
  print(item)



*   WHILE

In [ ]:
i = 0
n = len(data)
while i<n:
  print( data[i])
  i+=1

Tablas de multiplicar

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

**Escribir un programa que pida la nota de un examen (0-10) e imprima en pantalla la calificacion: "Suspende" si la nota es menor que 5, "Aprobado" si entre 5 inclusive, y 7 sin incluir, "Notable" si esta estre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entree 9 inclusive y 10 sin incluir y "Honorable" si es 10**

In [ ]:
nota = float(input("Escriba la nota del examen: "))

if nota <=0 or nota >10:
  print("Inserte una nota valida")


elif nota < 5:
  print("Suspenso")

elif  nota >= 5 and  nota <7:
  print("Aprobado")

elif nota >=7 and nota <9:
  print("Notable")

elif nota >=9 and nota <10:
  print("Sobresaliente")
elif nota == 10:
  print("Honorable")

Escriba un programa que muestre la secuencia fibonacci hasta 100

In [ ]:
limit = int(input("Limite: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(f"{a}\t+\t{b}\t=\t{c}")
  b=a
  a=c

**Ejercicio prácticos - Python**



1.   Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto. (20%)

In [ ]:
def calcular_deducciones(sueldo_bruto):
    # Deducciones porcentuales
    isss_porcentaje = 0.03
    afp_porcentaje = 0.0625

    # Calcular deducciones por ley
    isss = sueldo_bruto * isss_porcentaje
    afp = sueldo_bruto * afp_porcentaje

    # Tabla de ISR ficticia (rango de ingresos, tasa de impuesto)
    tabla_isr = [
        (0, 0.0),
        (500, 0.1),
        (1000, 0.15),
        (2000, 0.20),
        (3000, 0.25)
    ]

    # Calcular ISR según la tabla
    isr = 0
    for i in range(1, len(tabla_isr)):
        if sueldo_bruto > tabla_isr[i][0]:
            isr += (tabla_isr[i][0] - tabla_isr[i - 1][0]) * tabla_isr[i][1]
        else:
            isr += (sueldo_bruto - tabla_isr[i - 1][0]) * tabla_isr[i][1]
            break

    # Calcular total de deducciones
    total_deducciones = isss + afp + isr

    # Calcular sueldo neto
    sueldo_neto = sueldo_bruto - total_deducciones

    return isss, afp, isr, total_deducciones, sueldo_neto

# Obtener sueldo bruto del usuario
sueldo_bruto = float(input("Ingrese el sueldo: "))

# Calcular deducciones y sueldo neto
isss, afp, isr, total_deducciones, sueldo_neto = calcular_deducciones(sueldo_bruto)

# Mostrar resultados
print(f"Deducciones por ley:")
print(f"ISSS: ${isss:.2f}")
print(f"AFP: ${afp:.2f}")
print(f"ISR: ${isr:.2f}")
print(f"Total Deducciones: ${total_deducciones:.2f}")
print(f"Sueldo Neto: ${sueldo_neto:.2f}")

Ingrese el sueldo: 960
Deducciones por ley:
ISSS: $28.80
AFP: $60.00
ISR: $119.00
Total Deducciones: $207.80
Sueldo Neto: $752.20


2.   Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva). (20%)

In [ ]:
metros = float(input("Ingrese los metros consumidos de agua:"))
cuota = 6
mt = (28-18)*0.45
if 1 <= metros <= 18:
   print(f"Su cuota es de: ${cuota} de sus metros consumidos")

elif 19 <= metros <= 28:
   resp = (metros-18)*0.45+cuota
   print(f"Su cuota es de: ${resp} de sus metros consumidos")
elif 29 <= metros:
   resp = ((metros-28)*0.65+cuota)+ mt
   print(f"Su cuota es de: ${resp} de sus metros consumidos")
else:
  print("Ingrese un metodo valido")

Ingrese los metros consumidos de agua:19
Su cuota es de: $6.45 de sus metros consumidos



3.   Desarrolle la tabla de meses acumulados a un meses. Si puede encontrar la formula matemática para evitar ciclos. (10%)

In [ ]:
def tabla_meses_acumulados(mes_max):
    tabla = {}
    for mes in range(1, mes_max + 1):
        acumulado = (mes * (mes + 1)) // 2
        tabla[mes] = acumulado
    return tabla

mes_maximo = int(input("Ingrese el mes máximo: "))
tabla_resultante = tabla_meses_acumulados(mes_maximo)

print("Tabla de meses acumulados:")
print("Mes\tAcumulado")
for mes, acumulado in tabla_resultante.items():
    print(f"{mes}\t{acumulado}")

Ingrese el mes máximo: 15
Tabla de meses acumulados:
Mes	Acumulado
1	1
2	3
3	6
4	10
5	15
6	21
7	28
8	36
9	45
10	55
11	66
12	78
13	91
14	105
15	120




4.   Conversores: (40%) (10 ítems como mínimo por cada uno)

In [ ]:
valores = [
           [],
           [0, 1, 0.85, 23.8, 35.11, 7.74, 8.75, 621.61,4.07,109.83,73.25], #monedas
           [0, 1, 100, 0.001, 1000,0.000621371,1.09361,3.28084,39.3701,0.000539957,1e+6],#Longitud
           [0,1,1000,0.001,1e+6,1e+9,0.000984207,0.00110231,0.157473,2.20462,35.274],#Masa
           [0,0.25,0.000125,1.25e-7,1.25e-10,1.25e-13,1.25e-16,1.25e-19,1.25e-22,1.25e-25],#Almacenamiento
           [0,1,60,60000,6e+7,6e+10,0.0166666667,0.000694444,9.92063e-5,2.28311e-5,1.9026e-6],#Tiempo
           [0,1,0.001,0.219969,0.879877,1.75975,3.51951,35.1951,56.3121,0.0353147,61.0237],#Volumen
           [0,1e-6,3.861e-7,1.19599,10.7639,1550,1e-4,0.000247105,1000000 ]#Area
]
etiquetas = [
           [],
           ["1. Dolar",
            "2. Euro",
            "3. Lempira",
            "4. Cordobas",
            "5. Quetzalez",
            "6. Colon SV",
            "7. Colon CR",
            "8. Sol Peruano",
            "9. Yen Japones",
            "10. Rublo Ruso"],
           ["1. Metro", "2. Centimetro", "3. Kilometro","4. Milimetro", "5. Milla", "6. Yarda","7. Pie","8. Pulgada","9. Milla Nautica","10. Micrometro"],
           ["1. Kilogramo","2. Gramo","3. Tonelada","4. Miligramo","5. Microgramo", "6. Tonelada larga","7. Tonelada corta","8. Stone", "9. Libra", "10. Onza"],
           ["1. Bit","2. Byte", "3. Kilobyte", "4. Megabyte", "5. Gigabyte", "6. Terabyte", "7. Petabyte", "8. Exabyte", "9. Zettabyte", "10. Yottabyte"],
           ["1. Minuto", "2. Segundo","3. Milisegundo","4.Microsegundo","5. Nanosegundo","6. Hora","7. Dia","8. Semana","9. Mes","10. año"],
           ["1. Litro","2. Metro Cubico","3. Galon imperia","4. Cuarto imperial","5. Pinta imperial","6. Taza imperial","7. Onza liquida imperial","8. Cucharada imperial","9. Pie cubico","10. Pulgada cubica" ],
           ["1. Metro cuadrado","2. Kilometro cuadrado","3. Milla cuadrada","5. Yarda cuadrada","6. Pie cuadrado","7. Pulgada cuadrada","8. Hectarea","9. Acre","Milimetros cuadrados"]
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
print("* 4. Almacenamiento")
print("* 5. Tiempo")
print("* 6. Volumen")
print("* 7. Area")


conversor = int(input("Que quieres utilizar: "))

if conversor < 8:

  print( etiquetas[conversor] )



  de = int(input("DE: "))
  a = int(input("A: "))
  cantidad = float(input("Cant: "))

  print("Respuesta: ", convertir(conversor, de, a, cantidad) )

else:
  print("Ingrese una opcion valida")

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
* 4. Almacenamiento
* 5. Tiempo
* 6. Volumen
* 7. Area
Que quieres utilizar: 2
['1. Metro', '2. Centimetro', '3. Kilometro', '4. Milimetro', '5. Milla', '6. Yarda', '7. Pie', '8. Pulgada', '9. Milla Nautica', '10. Micrometro']
DE: 6
A: 2
Cant: 1
Respuesta:  91.44027578387177



5.   Realizar un conversor propio, donde espesifique el valor de conversión: (10%) • 1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades • 1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras • 1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

In [ ]:
def cajas_to_unidades(cajas):
    return cajas * 25

def unidades_to_cajas(unidades):
    return unidades / 25

def sacos_to_libras(sacos):
    return sacos * 50

def libras_to_sacos(libras):
    return libras / 50

def fardos_to_unidades(fardos):
    return fardos * 5

def unidades_to_fardos(unidades):
    return unidades / 5


print("------Menu---------")
print("1. Conversión de cajas a unidades y viceversa")
print("2. Conversión de sacos a libras y viceversa")
print("3. Conversión de fardos a unidades y viceversa")

covers = int(input("Que Quieres hacer: "))

if covers < 4:

  if covers == 1 :

    print("")
    print("Conversión de cajas a unidades y viceversa")

    # Conversión de cajas a unidades y viceversa


    print("        1. Cajas a unidades")
    print("        2. Unidades a cajas")
    cajas = int(input("Que quieres hacer: "))


    if cajas == 1:
      cajas = float(input("Introduce el número de cajas: "))
      unidades = cajas_to_unidades(cajas)
      print(f"{cajas} cajas equivalen a {unidades} unidades.")
    elif cajas == 2:
      unidades_input = float(input("Introduce el número de unidades: "))
      cajas_output = unidades_to_cajas(unidades_input)
      print(f"{unidades_input} unidades equivalen a {cajas_output} cajas.")
    else:
      print("Error")




  elif covers == 2:
    print("")
    print("Conversión de sacos a libras y viceversa")
    print("        1. Sacos a libras")
    print("        2. Libras a sacos")
    sacos = int(input("Que quieres hacer: "))


    if sacos == 1:
      # Conversión de sacos a libras y viceversa
      sacos = float(input("Introduce el número de sacos: "))
      libras = sacos_to_libras(sacos)
      print(f"{sacos} sacos equivalen a {libras} libras.")

    elif sacos == 2:
      libras_input = float(input("Introduce el número de libras: "))
      sacos_output = libras_to_sacos(libras_input)
      print(f"{libras_input} libras equivalen a {sacos_output} sacos.")
    else:
      print("Error")


  elif covers == 3:
   print("")
   print("Conversión de fardos a unidades y viceversa")
   print("        1. Fardos a unidades")
   print("        2. Unidades a fardos")
   fardos = int(input("Que quieres hacer: "))

   if fardos == 1:

      # Conversión de fardos a unidades y viceversa
      fardos = float(input("Introduce el número de fardos: "))
      unidades_fardos = fardos_to_unidades(fardos)
      print(f"{fardos} fardos equivalen a {unidades_fardos} unidades.")

   elif fardos == 2:

      unidades_input_fardos = float(input("Introduce el número de unidades: "))
      fardos_output = unidades_to_fardos(unidades_input_fardos)
      print(f"{unidades_input_fardos} unidades equivalen a {fardos_output} fardos.")

   else:
    print("Erro")

else:
  print("Ingrese una option valida")



1.   Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario
2.   Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

PROGRAMACION ORIENTADA A OBJETOS.



*   Clase

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2



*   INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()



*   OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

# **PARCIAL 1 - SALVADOR ERNESTO ANDRADE PEÑA**

1. Desarrolle  un  algoritmo  en  Python  que  calcule  el  IMPUESTO  A  LAS ACTIVIDADES ECONOMICAS de acuerdo con la siguiente tabla.
El monto de la actividad económica debe ser introducido por el usuario. (30%)

In [ ]:

def calcImpuesto(monto):

  valores = [[],
             [0, 0.01, 500.01, 1000.01, 2000.01, 3000.01, 8000.01, 18000.01, 30000.01, 60000.01, 100000.01, 200000.01, 300000.01, 400000.01, 500000.01, 1000000.01], #Desde
             [0, 1.5, 3, 6, 9, 15, 39, 63, 93, 125, 195, 255, 300, 340, 490], #Precio
             [0, 3, 2, 1, 0.8, 0.7, 0.6, 0.45, 0.4, 0.30, 0.18]] #Adicional

#monto - desde / 1000 * adicional + precio

  if monto >= 0.01 and monto <= 500:
    print("Numero 1")
    total = round((monto-valores[1][1])/1000*valores[3][0]+valores[2][1], 2)
    print("Total a pagar: $", total)

  elif monto >= 500.01 and monto <= 1000:
    print("Numero 2")
    total = round((monto-valores[1][2])/1000*valores[3][1]+valores[2][1], 2)
    print("Total a pagar: $", total)

  elif monto >= 1000.01 and monto <= 2000:
    print("Numero 3")
    total = round((monto-valores[1][3])/1000*valores[3][1]+valores[2][2], 2)
    print("Total a pagar: $", total)

  elif monto >= 2000.01 and monto <= 3000:
    print("Numero 4")
    total = round((monto-valores[1][4])/1000*valores[3][1]+valores[2][3], 2)
    print("Total a pagar: $", total)

  elif monto >= 3000.01 and monto <= 6000:
    print("Numero 5")
    total = round((monto-valores[1][5])/1000*valores[3][2]+valores[2][4], 2)
    print("Total a pagar: $", total)

  elif monto >= 8000.01 and monto <= 18000:
    print("Numero 6")
    total = round((monto-valores[1][6])/1000*valores[3][2]+valores[2][5], 2)
    print("Total a pagar: $", total)

  elif monto >= 18000.01 and monto <= 30000:
    print("Numero 7")
    total = round((monto-valores[1][7])/1000*valores[3][2]+valores[2][6], 2)
    print("Total a pagar: $", total)

  elif monto >= 30000.01 and monto <= 60000:
    print("Numero 8")
    total = round((monto-valores[1][8])/1000*valores[3][3]+valores[2][7], 2)
    print("Total a pagar: $", total)

  elif monto >= 60000.01 and monto <= 100000:
    print("Numero 9")
    total = round((monto-valores[1][9])/1000*valores[3][4]+valores[2][8], 2)
    print("Total a pagar: $", total)

  elif monto >= 100000.01 and monto <= 200000:
    print("Numero 10")
    total = round((monto-valores[1][10])/1000*valores[3][5]+valores[2][9], 2)
    print("Total a pagar: $", total)

  elif monto >= 200000.01 and monto <= 300000:
    print("Numero 11")
    total = round((monto-valores[1][11])/1000*valores[3][6]+valores[2][10], 2)
    print("Total a pagar: $", total)

  elif monto >= 300000.01 and monto <= 400000:
    print("Numero 12")
    total = round((monto-valores[1][12])/1000*valores[3][7]+valores[2][11], 2)
    print("Total a pagar: $", total)

  elif monto >= 400000.01 and monto <= 500000:
    print("Numero 13")
    total = round((monto-valores[1][13])/1000*valores[3][8]+valores[2][12], 2)
    print("Total a pagar: $", total)

  elif monto >= 500000.01 and monto <= 1000000:
    print("Numero 14")
    total = round((monto-valores[1][14])/1000*valores[3][9]+valores[2][13], 2)
    print("Total a pagar: $", total)

  elif monto >= 1000000.01 and monto <= 99999999:
    print("Numero 15")
    total = round((monto-valores[1][15])/1000*valores[3][10]+valores[2][14], 2)
    print("Total a pagar: $", total)

monto = float(input("Escribe el monto que deseas pagar: "))
calcImpuesto(monto)

Escribe el monto que deseas pagar: 20000
Numero 7
Total a pagar: $ 43.0

In [ ]:
{
  "saludos": [
    "Hola",
    "¿Cómo estás?",
    "Hola, ¿en qué puedo ayudarte?"
  ],
  "despedidas": [
    "Adiós",
    "Hasta luego",
    "Hasta la vista"
  ]
}

{'saludos': ['Hola', '¿Cómo estás?', 'Hola, ¿en qué puedo ayudarte?'],
 'despedidas': ['Adiós', 'Hasta luego', 'Hasta la vista']}

In [ ]:
import json
import random
import nltk
from nltk.tokenize import word_tokenize
from jinja2 import Template

# Descarga los datos de NLTK necesarios
nltk.download("punkt")

# Cargar el conjunto de datos de preguntas y respuestas
with open("dataset.json", "r") as file:
    dataset = json.load(file)

# Plantillas de respuesta
responses = {
    "saludos": Template(random.choice(dataset["saludos"])),
    "despedidas": Template(random.choice(dataset["despedidas"]))
}

def responder_pregunta(pregunta):
    # Tokeniza la pregunta en palabras
    palabras = word_tokenize(pregunta)

    # Busca la intención de la pregunta
    if "hola" in palabras or "buenos" in palabras:
        return responses["saludos"].render()
    elif "adiós" in palabras:
        return responses["despedidas"].render()
    else:
        return "Lo siento, no entiendo tu pregunta."

# Loop principal del chatbot
while True:
    usuario_input = input("Usuario: ")
    respuesta = responder_pregunta(usuario_input)
    print("Chatbot:", respuesta)